<div>
    <div>
      <div>
        <span class="textLogo">fiksar</span>
      </div>
      <div class="headerDiv ">
          <span class="headerText">How It Works</span>
      </div>
      <div class="headerDiv">
          <span class="headerText">Find a Job</span>
      </div>
      <div class="headerDiv">
          <span class="headerText">Login</span>
      </div>
      <div class="headerDiv">
          <span class="headerText">Sign Up</span>
      </div>
      <div class="headerDiv">
          <span class="headerText">ESP</span>
      </div>
      
    </div>
  </div>