<div class="footer col-md-12 col-sm-12 col-xs-12 col-lg-12">
  <div>
    <div class=" footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img class="footerImages" src="assets/Categories.png" ><img>
      </div>
      <div class="hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span class="footerText">All Categories</span>
      </div>
    </div>
    <div class="footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a  routerLink="/home"><img class="footerImages" src="assets/home-interface.png" ><img></a>
        </div>
        <div class="hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="footerText"><a  routerLink="/home">Home</a></span>
        </div>
    </div>
    <div class="footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img class="footerImages" src="assets/ic-business-center-24px.png" ><img>
      </div>
      <div class=" hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="footerText">Business</span>
      </div>
    </div>
    <div class="footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img class="footerImages" src="assets/ic-camera-24px.png"><img>
      </div>
      <div class="hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span class="footerText">Photography</span>
      </div>
    </div>
    <div class="footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img class="footerImages" src="assets/ic-book-24px.png" ><img>
        </div>
        <div class="hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="footerText">Lessons</span>
        </div>
    </div>
    <div class="footerDiv col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img class="footerImages" src="assets/theater.png" ><img>
      </div>
      <div class="hidden-sm hidden-xs col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span class="footerText">Entertainment</span>
      </div>
    </div>
  </div>
</div>