.footerImages {
    height:24px;
}

.footerText{
    font-size: 13px;
    font-weight: 400;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: grey;
}

.footerDiv{
    margin-top:2%;
    margin-bottom:2%;
}

.footer{
    background-color:white;
    position: fixed;
    left: 0;
    bottom: 0;
}

.span{
    cursor:pointer;
}

a{
    text-decoration: none;
    color:none;
}

.row{
    margin:0;
}

