<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <app-header></app-header>
    <div class="content">
      <span>Find Reliable & Verified</span><br>
      <span>Home Service Providers</span><span style="color:rgb(15,119,255)">.</span>
    </div>
    <div>
      <form class="formSize">
          <div class = "input-group input-group-lg">
              <span class = "input-group-addon formFrontColor"><img src="assets/Path.png" alt="Home Image"></span>
              <input type = "text" class = "form-control" placeholder = "What service you need">
              <span class = "input-group-addon formMidColor"><img height=14px width=14px src="assets/Location.png" alt="Location Image"></span>
              <span class = "input-group-addon formEndColor">Find Service</span>
          </div>
      </form>
    </div>
  </div>
  <div class="noPadding col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <img src="assets/Bitmap.png" class="img-responsive" alt="mainImage">
  </div>
</div>
<app-footer></app-footer>



