.row{
    margin:0;
}

span{
    cursor:pointer;
}
div{
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:black;
}
.invalid-feedback > div{
    color:grey
}


label{
    font-size: 16px;
}
.noPadding{
    padding:0;
}

.content{
    padding-left:10%;
    margin-top:30%;
    font-size:38px;
    width:90%;
    height:100vh;
}

.formSize{
    margin-top:5%;
    margin-left:10%;
    width:78%;
}

.form-control{
    font-size: 14px;
    border:0;
    box-shadow: none;
    outline:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

input{
    caret-color: rgb(15,119,255);
  }



.formFrontColor{
    background-color:white;
    border:0;
}

.formMidColor{
    background-color:white;
    border:0;
}

.formEndColor{
    background-color:rgb(15,119,255);
    color:white;
}

.designBox{
    background-color: none;
}

.btn-primary{
    background-color:rgb(233,223,155);
    outline:none;
    border:none;
    opacity: .8;
}

.btn-primary:focus{
    background-color:rgb(233,223,155);
    outline:none;
    border:none;
    opacity: .8;
    
}

.img-responsive{
    height:120vh;
    width:100%;
}

