<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
    <app-header></app-header>
    <div class="content">
            <div class="row">
                <div class="designBox col-md-offset-2 col-md-10 col-sm-12 col-xs-12 col-lg-10">
                  <br>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">User Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="text" formControlName="contactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" />
                            <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                                <div *ngIf="f.contactNumber.errors.pattern">Contact number must be a number</div>
                                <div *ngIf="f.contactNumber.errors.minlength || f.contactNumber.errors.maxlength">Contact number must be 10 digits long</div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="date" max= "{{ date | date: 'yyyy-MM-dd'}}" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gender</label><br>
                            <label class="radio-inline">
                                <input type="radio" formControlName="gender" checked   value="Male">
                                Male
                              </label>
                              <label class="radio-inline">
                                <input type="radio" formControlName="gender"  value="Female">
                                Female
                              </label>
                        </div><br>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">SignUp</button><br><br><br><br>
                        </div>
                    </form>
                </div>
            </div>
    </div>
  </div>
  <div class="noPadding hidden-sm hidden-xs col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <img src="assets/Bitmap.png" class="img-responsive" alt="mainImage">
  </div>
</div>
<app-footer></app-footer>



